<div class="publications">
  {% bibliography --group_by none --query @*[selected=true]* %}
</div>


<section class="mt-4 mb-5">
  <h2>Awards & Honors</h2>
  <p class="text-muted">
    Selected national, international, and industry recognitions.
  </p>
  <ul>
    <li><strong>Marie Skłodowska-Curie PhD Fellowship</strong> (European Commission)</li>
    <li><strong>National Scholarship</strong> (2×; Top 0.2% nationwide; Chinese Ministry of Education)</li>
    <li><strong>Magna cum laude</strong>, PhD Dissertation - Technische Universität Berlin</li>
    <li><strong>Invited Interview on Green Internet</strong> (UN Climate Change Conference, COP29)</li>
    <li><strong>Best of IBMer: Best New SRE</strong> (IBM Cloud Foundation Services)</li>
  </ul>
</section>
